{% include whichpage.html %}
<!DOCTYPE html>
<html class="no-js" lang="nl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="nl">
    <title>{{ generatedPageTitle }}</title>
    <meta name="language" content="nl" >
    <meta name="description" lang="nl" content="Daan Scholten is een Producer en Sound Engineer voor live audio en in de studio">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Daan Scholten">
    <meta name="creator" content="Anoesj Sadraee">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/resources/css/main.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- endbuild -->

    <!--[if gte IE 9]>
      <style type="text/css">
        .gradient {
          filter: none;
        }
      </style>
    <![endif]-->

    <!-- build:js(app) /js/angular.js -->
    <script src="/_bower_components/angular/angular.min.js"></script>
    <!-- endbuild -->

    <!-- build:js(app) /js/head-scripts.js -->
    <!-- Replace with a custom modernizer build for production -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <script src="/_bower_components/plangular/dist/plangular.min.js"></script>
    <!-- endbuild -->

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <!-- <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194"> -->
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#698cdd">
  </head>

  <body class="{{ cleanCurrent }} fade-out-content {{ layout }}"  ng-app="app">
    <!--[if lt IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="header-wrapper">
      <div class="grid">
        <div class="full-width">
          <a href="/" title="Home" class="logo">
            <img src="/resources/img/logo.svg" alt="Daan Scholten" title="Home">
            <span class="logo-text">Producer - Sound Engineer</span>
          </a>
        </div>
      </div>
    </header>

    <div class="menu-wrapper-wrapper">
      <nav class="menu-wrapper">
        <div class="grid">
          <div class="full-width">
            <ul>
              <li>
                <a href="/" {% if cleanCurrent == 'home' %}class="active"{% endif %}>
                  <span class="text">Home</span>
                </a>
              </li>

              <li>
                <a href="/over-mij" {% if cleanCurrent == 'over-mij' %}class="active"{% endif %}>
                  <span class="text">Over mij</span>
                </a>
              </li>

              <li>
                <a href="/blog" {% if cleanCurrent contains 'blog' %}class="active"{% endif %}>
                  <span class="text">Blog</span>
                </a>
              </li>

              <li>
                <a href="/portfolio" {% if cleanCurrent == 'portfolio' %}class="active"{% endif %}>
                  <span class="text">Portfolio</span>
                </a>
              </li>

              <li>
                <a href="/studio" {% if cleanCurrent == 'studio' %}class="active"{% endif %}>
                  <span class="text">Studio</span>
                </a>
              </li>
              
              <li>
                <a href="/live" {% if cleanCurrent == 'live' %}class="active"{% endif %}>
                  <span class="text">Live</span>
                </a>
              </li>

              <li>
                <a href="/contact" {% if cleanCurrent == 'contact' %}class="active"{% endif %}>
                  <span class="text">Contact</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="main-wrapper grid">
      {{ content }}
    </div>

    {% include scripts.html %}
    {% include googleanalytics.html %}
  </body>
</html>