<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/resources/css/main.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- endbuild -->

    <!--[if gte IE 9]>
      <style type="text/css">
        .gradient {
          filter: none;
        }
      </style>
    <![endif]-->

    <!-- build:js(app) /js/head-scripts.js -->
    <!-- Replace with a custom modernizer build for production -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>

  {% assign current = page.url | downcase | split: '/' %}
  {% if current[1] == 'index.html' %}
    {% assign cleanCurrent = 'home' %}
  {% else %}
    {% assign cleanCurrent = current[1] %}
  {% endif %}

  {% if cleanCurrent == 'blog' and current[2] != null and current[2] != 'index.html' %}
    {% capture cleanCurrent %}{{ cleanCurrent }} blog-item{% endcapture %}
  {% endif %}

  <body class="{{ cleanCurrent }} fade-out-content">
    <!--[if lt IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="header-wrapper">
      <div class="grid">
        <div class="full-width">
          <a href="/" title="Home" class="logo">
            <img src="/resources/img/logo.svg" alt="Daan Scholten" title="Home">
          </a>
        </div>
      </div>
    </header>

    <nav class="menu-wrapper">
      <div class="grid">
        <div class="full-width">
          <ul>
            <li>
              <a href="/over-mij" {% if cleanCurrent == 'over-mij' %}class="active"{% endif %}>
                <span class="text">Over mij</span>
              </a>
            </li>

            <li>
              <a href="/blog" {% if cleanCurrent contains 'blog' %}class="active"{% endif %}>
                <span class="text">Blog</span>
              </a>
            </li>

            <li>
              <a href="/portfolio" {% if cleanCurrent == 'portfolio' %}class="active"{% endif %}>
                <span class="text">Portfolio</span>
              </a>
            </li>

            <li>
              <a href="/studio" {% if cleanCurrent == 'studio' %}class="active"{% endif %}>
                <span class="text">Studio</span>
              </a>
            </li>
            
            <li>
              <a href="/live" {% if cleanCurrent == 'live' %}class="active"{% endif %}>
                <span class="text">Live</span>
              </a>
            </li>

            <li>
              <a href="/contact" {% if cleanCurrent == 'contact' %}class="active"{% endif %}>
                <span class="text">Contact</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="main-wrapper grid">
      {{ content }}
    </div>

    {% include scripts.html %}
    {% include googleanalytics.html %}
  </body>
</html>