---
layout: default
---
<div class="sidebar">
  <h1>{{ page.title }}</h1>
  <div class="post-wrapper">
    <article class="post">
      <header>
        <div class="tags">
        {% assign post = page %}
        {% include postdate.html %}
        {% include posttags.html %}
        </div>
      </header>
      
      <section>{{ content }}</section>
    </article>

    <aside class="share addthis">
      <strong>Deel:</strong>
      <a class="addthis_button_facebook"></a>
      <a class="addthis_button_twitter"></a>
      <a class="addthis_button_whatsapp"></a>
      <a class="addthis_button_google_plusone_share"></a>
      <a class="addthis_button_pinterest_share"></a>
      <a class="addthis_button_linkedin"></a>
    </aside>
  </div>
</div>