.blog {
  .latest-posts {
    @include isolation-span(8, 1, 'left');
    padding: 0;

    .post {
      padding: 40px;

      & + .post {
        margin-top: 1em;
      }

      header a {
        display: block;

        h2 {
          $arrow-width: 26px;
          padding-right: $arrow-width;
          transform: translateX(-$arrow-width);
          transition: transform $speed-fast $ease-in-out 0s;
          @include flaticon($flaticon-goto, 'before');

          &:before {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            top: -1px;
            padding-left: 0;
            padding-right: 6px;
            width: $arrow-width;
            font-size: 45%;
            opacity: 0;
            transition: opacity $speed-fast $ease-in-out 0s;
          }

          &:hover {
            transform: translateX(0);
          }
        }

        &:hover h2:before {
          opacity: 1;
        }

        h2 {
          margin: 0;
        }
      }

      section > *:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.home .latest-posts,
.blog .older-posts {
  @include isolation-span(4, 9, 'right');
  @include default-font-settings;
  padding: 0;

  a {
    display: block;
    background-color: rgba($white, 0);
    transition: all $speed-fast $ease-out 0s;
    padding: 20px !important;
    margin: 0;

    &:hover {
      background-color: rgba($white, .3);
    }
    
    &:first-child {
      padding: 0 !important;

      .sidebar-title {
        padding: 20px 20px .6em 20px;
      }
    }

    &:not(:first-child):not(:last-child) {
      @include line(1px, true);
    }
  }

  .post {
    opacity: 1;

    header {
      font-weight: $fw-bold;
      font-size: 20px;
      line-height: 30px;
      color: $dark-blue !important;
    }

    section {
      color: $dark-blue !important;
    }
  }

  .tags {
    margin-top: 4px;
    margin-bottom: 10px;
  }

  .view-all {
    padding: 10px 20px !important;

    h3 {
      margin: 0;
      font-size: 20px;
      line-height: 30px;
    }
  }
}

@include breakpoint(max-width bpmax("laptop")) {
  .home .latest-posts,
  .blog .older-posts {
    .post {
      header {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }
}
