.blog-item {
  .main-wrapper {
    > .sidebar {
      @include isolation-span(8, 3, 'both');
      padding: 40px;
    }

    > h1 {
      @include isolation-span(10, 1, 'both');
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .post-wrapper {
    position: relative;
  }

  .post {
    // @debug grid-span(1, 8, 8);
    padding-right: grid-span(1, 8, 8);
    @include no-margins;
  }

  // .share {
  // }
  
  .addthis {
    transition-delay: 2s;
    position: absolute;
    top: 0;
    right: 0;
  }
}