body.blog-item,
body.blog-all {
  .main-wrapper {
    > .sidebar {
      @include isolation-span(8, 3, 'both');
      @include narrow-paragraphs;
      
      > h1 {
        margin-top: 0;
        margin-bottom: .3em !important;
      }
    }
  }
}

body.blog-all {
  .main-wrapper {
    > .sidebar {
      padding: 40px;
    }
  }
}

body.blog-item {
  .main-wrapper {
    > .sidebar {
      padding: (40px + $header-with-line-margin-top) 40px;
    }
  }

  .post-wrapper {
    position: relative;
  }

  .post {
    section {
      margin: 2em 0;
    }
  }
  
  .addthis {
    // transition-delay: 2s;
  }
}

body.blog-all {
  .tag + a {
    display: inline-block;
    margin: 0 8px;
    line-height: 26px;
    font-size: 18px;
    vertical-align: middle;

    & > * {
      margin: 0;
      padding: 0 !important;
    }
  }
}

// Mobile - laptop
@include breakpoint(max-width bpmax("hi-res")) {
  body.blog-item,
  body.blog-all {
    .main-wrapper {
      > .sidebar {
        @include isolation-span(10, 2, 'both');
      }
    }
  }
}

// Mobile - tablet landscape
@include breakpoint(max-width bpmax("laptop")) {
  body.blog-item,
  body.blog-all {
    .main-wrapper {
      > .sidebar {
        @include narrow-paragraphs(0px);
      }
    }
  }

  body.blog-item {
    .main-wrapper {
      > .sidebar {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }
  }
}

// Mobile - tablet portrait
@include breakpoint(max-width bpmax("tablet-landscape")) {
  body.blog-item,
  body.blog-all {
    .main-wrapper {
      > .sidebar {
        @include isolation-span(12, 1, 'both');
      }
    }
  }
}

