@include sgs-change('debug', true);
@include add-breakpoint('mobile', (320px, 100%, 3, 3));
@include add-breakpoint('tablet', (641px, 100%, 6, 6));
@include add-breakpoint('laptop', (1000px, $default-page-width, 12, 12));
@include add-breakpoint('hi-res', (1320px, 1280px, 12, 12));
@include show-breakpoint-names(true);

@include setup-grid($transitions: true);
@include add-background-grid;

body {
  @include background-image-retina('/resources/img/white_wall_hash', png, 500px, 500px);

  .main-wrapper {
    transition: opacity .3s $ease-out 0s;
    opacity: 1;
    padding-top: 40px;
    padding-bottom: 60px;
  }

  &.fade-out-content {
    .main-wrapper {
      opacity: 0;
    }
  }
}

$logo-height: 148px;
.header-wrapper {
  position: relative;
  background: $white;
  @include breakpoint(bp('tablet')) {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      background: url('../resources/img/mixing-console2.jpg') center center no-repeat;
      background-size: cover;
      opacity: .3;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    @include linear-gradient(rgba($white, 1), rgba($white, 0), 'left', 'right', 'top', 'top');
    box-shadow: inset 0 -75px 75px -90px rgba(#000, .6);
  }

  .grid {
    position: relative;
    z-index: 3;
  }

  .logo {
    display: inline-block;
    margin: 20px 0;
    
    img {
      width: auto;
      height: $logo-height;
      display: inline-block;
    }
  }
}

body.is-safari {
  .header-wrapper {
    .logo {
      img {
        transform: scale(0.5) translate(-50%);
        height: $logo-height * 2;
        margin-top: $logo-height/-2;
        margin-bottom: $logo-height/-2;
      }
    }
  }
}

.sidebar {
  @include no-margins;
  padding: 20px;
  border-radius: $base-border-radius;
  background-color: rgba($light-blue, .2);
  position: relative;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: $base-border-radius;
    border: 1px solid lighten($light-blue, 22%);
    top: 0;
    left: 0;
    z-index: -1;
  }

  .sidebar-title {
    line-height: 24px;
    @include line(1px, true);
    padding-bottom: 0.6em;
    margin-top: 0;
    margin-bottom: 0;
  }
}
