@include add-breakpoint('mobile', (320px, 100%, 3, 3));
@include add-breakpoint('tablet', (641px, 100%, 6, 6));
@include add-breakpoint('laptop', (1000px, $default-page-width, 12, 12));
@include add-breakpoint('hi-res', (1320px, 1280px, 12, 12));
@include show-breakpoint-names(true);

@include setup-grid($transitions: true);
@include add-background-grid;

body {
  @include background-image-retina('/resources/img/white_wall_hash', png, 500px, 500px);
  // @include background-image-retina('/resources/img/snow', png, 500px, 500px);
  // @include background-image-retina('/resources/img/brushed_alu', png, 400px, 400px);
  .main-wrapper {
    transition: opacity .3s $ease-out 0s;
    opacity: 1;
  }

  &.fade-out-content {
    .main-wrapper {
      opacity: 0;
    }
  }
}

.header-wrapper {
  .logo {
    display: inline-block;
    margin: 40px 0;
    
    img {
      width: 200px;
      height: auto;
    }
  }
}

.menu-wrapper {
  background-color: $dark-blue;
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 2px;
    background-color: $light-blue;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;

    li {
      list-style: none;
      flex-grow: 1;
      width: auto;

      a {
        display: block;
        padding: 5px 0;
        border-radius: 2px 2px 0 0;
        text-align: center;
        color: $white !important;
        background-color: rgba($light-blue, 0);
        box-shadow: none;
        transition: all $speed-fast $ease-out 0s;
        text-shadow: none;
        font-size: 18px;

        $shadow-color: $dark-blue;
        $shadow-opacity: 0.2;

        &.active,
        &:hover {
          text-shadow: 0 0 2px rgba($dark-blue, .1);
          background-color: rgba($light-blue, 1);
        }
      }
    }
  }
}