.home {
  .projects {
    @include isolation-span(3, 1, 'left');
    padding: 0;

    .sidebar-title {
      padding: 20px 20px .6em 20px;
      margin-bottom: 0;
    }

    ul {
      list-style: none;
      margin-top: 0;
      padding: 0;
    }

    li {
      border-bottom: 2px solid rgba(57, 65, 101, 0.2);
      
      a {
        display: block;
        padding: .5em 20px;
        background-color: rgba($white, 0);
        transition: all $speed-fast $ease-out 0s;

        &:hover {
          background-color: rgba($white, .3);
        }
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .center-column {
    @include isolation-span(5, 4, 'none');
    height: 20px;
  }

  .latest-posts {
    @include isolation-span(4, 9, 'right');
  }
}