.home {
  .projects {
    @include isolation-span(3, 1, 'left');

    .sidebar-title {
      margin-bottom: 0;
    }

    ul {
      list-style: none;
      margin-top: 0;
      padding: 0;
    }

    li {
      border-bottom: 2px solid rgba(57, 65, 101, 0.2);
      padding: 1em 0;

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
  }

  .center-column {
    @include isolation-span(5, 4, 'none');
    height: 20px;
  }

  .latest-posts {
    @include isolation-span(4, 9, 'right');
  }
}