body.home {
  .projects {
    @include isolation-span(3, 1, 'left');
    padding: 0;

    .sidebar-title {
      padding: 20px 20px .6em 20px;
      margin: 0;
    }

    ul {
      list-style: none;
      margin-top: 0;
      padding: 0;
      margin: 0;
    }

    li {
      border-bottom: 1px solid rgba($dark-blue, .2);

      a {
        display: block;
        padding: 10px 20px;
        background-color: rgba($white, 0);
        transition: all $speed-fast $ease-out 0s;
        color: $dark-blue !important;

        &:hover {
          background-color: rgba($white, .3);
        }
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .center-column {
    @include isolation-span(5, 4, 'none');
    padding: 0;

    .sidebar-title {
      padding: 20px 20px .6em 20px;
      margin: 0;
      background-color: rgba($white, 0);
      transition: all $speed-fast $ease-out 0s;
      color: $dark-blue !important;

      &:hover {
        background-color: rgba($white, .3);
      }
    }

    .soundcloud-player-wrapper {
      padding: 20px;
    }
  }

  .latest-posts {
    @include isolation-span(4, 9, 'right');
  }
}

@include breakpoint(bpmin("tablet-portrait") bpmax("hi-res")) {
  body.home {
    .projects {
      @include isolation-span(7, 6, 'right');
      margin-bottom: 1em;
    }

    .center-column {
      @include isolation-span(5, 1, 'left');
    }

    .latest-posts {
      @include isolation-span(7, 6, 'right');
    }
  }
}

@include breakpoint(max-width bpmax("tablet-landscape")) {
  body.home {
    .main-wrapper > * {
      @include isolation-span(12, 1, 'both');
      margin-bottom: 1em;
    }
  }
}