body.portfolio {
  .soundcloud-player-wrapper {
    @include isolation-span(6, 1, 'left');
    @include default-font-settings;
    padding: 40px;

    h1 {
      font-size: 32px;
      line-height: 36px;
      margin-top: 0 !important;
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  .clients {
    @include isolation-span(6, 7, 'right');
    @include default-font-settings;
    padding: 40px;
    $space-between: 10px;
    word-spacing: $space-between;

    a {
      display: inline-block;
      word-spacing: normal;

      &:after {
        content: none;
      }
    }

    .tag {
      margin-bottom: $space-between;

      .no-word-spacing {
        word-spacing: normal;
      }
    }
  }

  .soundcloud-player-wrapper,
  .clients {
    h1, h2 {
      margin-bottom: 28px;
    }
  }
}

// Mobile - tablet portrait
@include breakpoint(max-width bpmax("tablet-landscape")) {
  body.portfolio {
    .soundcloud-player-wrapper,
    .clients {
      @include isolation-span(12, 1, 'both');
    }

    .soundcloud-player-wrapper {
      margin-bottom: 1em;
    }
  }
}