---
layout: default
title: Blog - Daan Scholten
---
<section class="latest-posts">
  {% for post in site.posts limit:3 %}
  <article class="post sidebar">
    <header>
      <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
      <div class="tags">
        {% include postdate.html %}
        {% include posttags.html %}
      </div>
    </header>
    
    <section>{{ post.content }}</section>
  </article>
  {% endfor %}
</section>

{% if site.posts.size > 3 %}
<section class="older-posts sidebar">
  <a href="/blog/alle"><h3 class="sidebar-title">Oudere blogs</h3></a>
  {% for post in site.posts offset:3 limit:5 %}
  <a href="{{ post.url }}">
    <article class="post">
      <header>{{ post.title }}</header>

      <footer>
        <div class="tags">
          {% include postdate.html %}
          {% include posttags.html %}
        </div>
      </footer>

      <section>{{ post.content | strip_html | truncate: 130 }}</section>
    </article>
  </a>
  {% endfor %}
  <a href="/blog/alle" class="view-all"><h3>Bekijk alle blogs</h3></a>
</section>
{% endif %}