@mixin customicon($letter: "e") {
  content: $letter;
  display: inline-block;
  vertical-align: middle;
  font-family: "customicons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 75%;
  padding-left: 6px;
  position: relative;
  top: -2px;
}