@mixin linear-gradient($start, $end, $originX: 'left', $targetX: 'right', $originY: 'top', $targetY: 'top') {
  background: $start;
  background: -moz-linear-gradient(#{$originX},  $start 0%, $end 100%);
  background: -webkit-gradient(linear, #{$originX} #{$originY}, #{$targetX} #{$targetY}, color-stop(0%,$start), color-stop(100%,$end));
  background: -webkit-linear-gradient(#{$originX},  $start 0%,$end 100%);
  background: -o-linear-gradient(#{$originX},  $start 0%,$end 100%);
  background: -ms-linear-gradient(#{$originX},  $start 0%,$end 100%);
  background: linear-gradient(to #{$targetX},  $start 0%,$end 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start', endColorstr='$end',GradientType=1 );
}