@mixin line($height: 4px, $one-line-only: false, $inline-block: false) {
  @if $inline-block != false {
    display: inline-block;
    margin-top: $header-with-line-margin-top !important;
  }
  position: relative;
  padding-bottom: .3em;
  border-bottom: $height solid rgba($dark-blue, .2);
}