@mixin narrow-paragraphs($padding-paragraphs: 80px) {
  p, h2, h3, h4, h5, .share, .tags, .highlight {
    padding-left: $padding-paragraphs;
    padding-right: $padding-paragraphs;
  }

  ul {
    $padding-ul: $list-item-padding + $list-item-padding-correction;
    padding-left: calc(#{$padding-paragraphs} + #{$padding-ul});
    padding-right: $padding-paragraphs;
  }

  ol {
    padding-left: calc(#{$padding-paragraphs} + #{$list-item-padding-correction});
    padding-right: $padding-paragraphs;
  }

  h1 {
    margin-left: $padding-paragraphs;
    margin-right: $padding-paragraphs;
    margin-bottom: 0;
  }
}