.image-wrapper {
  @include add-gutter-style('opposite');
  margin: 2em -40px;
  @include clearfix;
  display: flex;
  justify-content: center;
  // align-items: flex-start;

  .image {
    display: flex;
    flex-direction: column;
    margin: 0;
    border-radius: $base-border-radius;
    background-color: lighten($light-blue, 30%);
    position: relative;
    overflow: hidden;
    border: 1px solid lighten($light-blue, 14%);
    $two-images-width: grid-span(5, 1, $grid: 8);
    
    &.image-left {
      width: $two-images-width;
      margin-left: grid-span(1, 0, $grid: 8) * -1;
      margin-right: gutter-span(1, $grid: 8) / 4;
    }

    &.image-right {
      width: $two-images-width;
      margin-left: gutter-span(1, $grid: 8) / 4;
      margin-right: grid-span(1, 0, $grid: 8) * -1;
    }

    &.image-center {
      width: grid-span(6, 2, $grid: 8);
      // align-self: center;
    }

    img {
      width: 100%;
      height: auto;
      border-bottom: 1px solid lighten($light-blue, 14%);
    }

    figcaption {
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      // text-align: center;
      flex: 1;
      padding: 40px;
      font-style: italic;
    }
  }

  @include add-gutter-style('split');
}

// FIX DEZE SHIT EN GA DOOR MET DIE FONTS
body.blog-overview {
  @include add-gutter-style('opposite');
  
  .image-wrapper {
    margin-left: 0;
    margin-right: 0;

    .image {
      $two-images-width: grid-span(4, 1, $grid: 8);

      &.image-left {
        width: $two-images-width;
        margin-left: 0;
      }

      &.image-right {
        width: $two-images-width;
        margin-right: 0;
      } 
    }
  }

  @include add-gutter-style('split');
}