.menu-wrapper {
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 2px;
    background-color: $light-blue;
  }
}

@include breakpoint(bpmin("tablet-landscape")) {
  .menu-wrapper {
    background-color: $dark-blue;
    box-shadow: 0px 0px 35px 15px rgba($white, .5);
    position: relative;
    -webkit-font-smoothing: subpixel-antialiased;

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: stretch;

      li {
        list-style: none;
        flex-grow: 1;
        width: auto;

        a {
          display: block;
          position: relative;
          padding: 3px 0;
          color: $white !important;
          font-size: 16px;
          text-align: center;
          transition: all $speed-fast $ease-out 0s;
          @include linear-gradient($dark-blue, #404973);

          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 1;
            background-color: rgba($light-blue, 0);
            transition: background-color $speed-fast $ease-out 0s;
          }

          &:hover,
          &:focus {
            outline: none;

            &:before {
              background-color: rgba($light-blue, .7);
            }
          }

          &.active {
            &:before {
              background-color: rgba($light-blue, 1);
            }
          }

          > .text {
            position: relative;
            z-index: 2;
          }
        }
      }
    }
  }

  body.menu-fixed {
    .menu-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000;
    }
  }

  .mobile-menu-icon {
    display: none;
  }
}

// Tablet landscape - laptop
@include breakpoint(bpmin("tablet-landscape") bpmax("hi-res")) {
  .menu-wrapper ul li a {
    font-size: 14px;
  }
}

// Mobile - tablet portrait
@include breakpoint(max-width bpmax("tablet-landscape")) {
  $mobile-menu-icon-size: 30px;
  .menu-wrapper-wrapper {
    position: relative;
    z-index: 3;
    background-color: $dark-blue;
    @include linear-gradient-ugh-version($dark-blue, #444F83, 'left', 'left', 'top', 'bottom'); // #404973
    height: auto !important;

    .full-width {
      width: 100%;
      margin: 0;
    }

    ul {
      transition: opacity $speed-medium $ease-out $speed-medium,
                  max-height $speed-medium $ease-out 0s,
                  margin $speed-medium $ease-out 0s;
      padding: 0;
      margin: 1em 0;
      list-style: none;
      max-height: 300px !important; // TEST THIS THROUGH!!

      li {
        padding: 0 40px; // 20px for padding main-wrapper, 20px for padding inside the "sidebars"

        a {
          display: block;
          padding: 3px 0;
          color: $white !important;
          font-size: 18px;
          text-align: center;
          background-color: rgba($white, 0);
          transition: background-color $speed-fast $ease-out 0s;

          &:hover,
          &:focus {
            background-color: rgba($white, 0.2);
          }
        }
      }
    }
  }

  .menu-wrapper {
    .grid {
      position: relative;
    }
  }

  .mobile-menu-icon {
    display: block;
    cursor: pointer;
    @include flaticon($flaticon-menu, 'before');
    position: absolute;
    top: -1 * ceil(($logo-height * $logo-height-multiplier-tablet-landscape) + (2 * $logo-margin));
    right: 0;
    padding: $logo-margin 0 $logo-margin $mobile-menu-touchable-area-sides;
    box-sizing: content-box;
    height: ceil($logo-height * $logo-height-multiplier-tablet-landscape);
    
    &:before {
      transition: color $speed-fast $ease-out 0s;
      font-size: $mobile-menu-icon-size;
      line-height: ceil($logo-height * $logo-height-multiplier-tablet-landscape);
      display: block;
    }

    &:hover:before {
      color: $light-blue;
    }
  }

  body.mobile-menu-hidden {
    .menu-wrapper-wrapper {
      ul {
        opacity: 0;
        transition: opacity $speed-medium $ease-out 0s,
                    max-height $speed-medium $ease-out $speed-medium,
                    margin $speed-medium $ease-out $speed-medium;
        overflow: hidden;
        max-height: 0 !important;
        margin: 0;

        @include moz-hack {
          display: none;
        }
      }
    }
  }
}

// Tablet portrait only
@include breakpoint(bpmin("tablet-portrait") bpmax("tablet-landscape")) {
  .mobile-menu-icon {
    right: 1.08025%; // for some reason, gutter-span(1) doesn't return something remotely logical
  }
}

// Mobile only
@include breakpoint(max-width bpmax("tablet-portrait")) {
  $mobile-menu-icon-size: 24px;
  .mobile-menu-icon {
    right: 20px;
    right: calc(20px + 1.08025%);
    top: -1 * ceil(($logo-height * $logo-height-multiplier-up-to-tablet-portrait) + (2 * $logo-margin));
    height: ceil($logo-height * $logo-height-multiplier-up-to-tablet-portrait);
    padding-right: 20px;
    margin-right: -20px;

    &:before {
      font-size: $mobile-menu-icon-size;
      line-height: ceil($logo-height * $logo-height-multiplier-up-to-tablet-portrait);
    }
  }
}
