$share-button-size: 40px;
.share {
  strong {
    display: block;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 4px;
  }

  a {
    display: inline-block;
    margin-right: 4px;
    opacity: .6;
    transition: opacity $speed-fast $ease-out 0s;

    &:after {
      display: none;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  .addthis_32x32_style .at4-icon,
  .addthis_32x32_white_style .at4-icon,
  a span:first-child {
    width: $share-button-size !important;
    background-size: $share-button-size $share-button-size !important;
    background-size: contain !important;
  }

  a span,
  .soundcloud-button .soundcloud-text {
    height: $share-button-size !important;
    line-height: $share-button-size !important;
  }

  p {
    display: none;
  }

  .addthis_follow_label,
  .soundcloud-button .soundcloud-text {
    display: inline-block !important;
    padding-left: 10px;
    color: $dark-blue;
  }

  .addthis_default_style .at300b,
  .addthis_default_style .at300bo,
  .addthis_default_style .at300m {
    padding: 0;
    float: none;
  }

  .soundcloud-button {
    display: block;

    span {
      display: inline-block;
    }

    .soundcloud-icon {
      background-color: #f50;
      @include flaticon($flaticon-soundcloud, 'before', 30px);
      float: left;

      &:before {
        color: $white;
        display: block;
        text-align: center;
      }
    }
  }
}

html.no-touch {
  .share {
    a[title="WhatsApp"] {
      display: none;
    }
  }
}