.tags {
  margin-top: 10px;
}

.tag {
  position: relative;
  display: inline-block;
  padding: 6px 10px;
  background: $light-blue;
  color: $white;
  font-size: 14px;
  line-height: 1em;
  border-radius: $base-border-radius;
  border: 1px solid $default-border-color;
  margin-bottom: 5px;

  &.tag-hover {
    transition: background-color $speed-fast $ease-out 0s,
                border-color $speed-fast $ease-out 0s;
  }

  &.tag-date,
  &.tag-hover:hover {
    background: $dark-blue;
    border: 1px solid $default-border-color-dark;
  }

  &.tag-big {
    padding: 10px 14px;
    font-size: 18px;
    line-height: 1em;
  }
}