---
layout: default
title: Daan Scholten - Producer - Sound Engineer
---

<section class="projects sidebar">
  <h3 class="sidebar-title">Projecten</h3>
  <ul class="running-projects">
    {% for project in site.projects %}
      <li class="project">
        <a href="{% if project.target != null %}{{ project.target }}{% else %}/blog{% endif %}">{{ project.title }}</a>
      </li>
    {% endfor %}
  </ul>
</section>

<main class="center-column sidebar">
  <!-- Audio player -->
  <div class="share addthis">
    <div class="addthis_horizontal_follow_toolbox"></div>
  </div>
</main>

<section class="latest-posts sidebar">
  <a href="/blog"><h3 class="sidebar-title">Laatste blogs</h3></a>
  {% for post in site.posts limit:3 %}
    <article class="post">
      <header>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </header>
      
      <footer>
        <div class="tags">
          {% assign ymd = post.date | date: "%Y-%m-%d" %}
          <time datetime="{{ ymd }}" class="tag tag-grey">
            {% assign m = post.date | date: "%-m" %}
            {{ post.date | date: "%-d" }}
            {% case m %}
              {% when '1' %}januari
              {% when '2' %}februari
              {% when '3' %}maart
              {% when '4' %}april
              {% when '5' %}mei
              {% when '6' %}juni
              {% when '7' %}juli
              {% when '8' %}augustus
              {% when '9' %}september
              {% when '10' %}oktober
              {% when '11' %}november
              {% when '12' %}december
            {% endcase %}
            {{ post.date | date: "%Y" }}
          </time>

          {% for tag in post.categories %}
            <span class="tag">{{ tag }}</span>
          {% endfor %}
        </div>
      </footer>
      
      <section>{{ post.content | strip_html | truncatewords: 50 }}</section>
    </article>
  {% endfor %}
</section>