<!-- build:js(app) /js/libs.js -->
<script src="/_bower_components/jquery/dist/jquery.min.js"></script>
<script src="/_bower_components/velocity/velocity.min.js"></script>
<script src="/_bower_components/jquery.cookie/jquery.cookie.js"></script>
<script src="/_bower_components/underscore/underscore-min.js"></script>
<script src="/_bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/_bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="/_bower_components/owl.carousel/dist/owl.carousel.js"></script>
<!-- endbuild -->
<!-- build:dist:remove -->
<script src="/_bower_components/jquery.hotkeys/index.js"></script>
<script type="text/javascript">
  (function($, window, document) {
    $(function() {
      /* Turn on/off grid with CTRL+; or CMD+; */
      $(document).bind('keydown', 'ctrl+; meta+; ', function() {
        $('html').toggleClass('grid-enabled')
      })
    })
  }(window.jQuery, window, document));
</script>
<!-- endbuild -->

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55212f455ceec544" async="async"></script>

<!-- build:js(app) /js/scripts.js -->
<script src="/resources/js/ds.js"></script>
<script src="/resources/js/plugins.js"></script>
<script src="/resources/js/main.js"></script>
<script src="/resources/js/contact.js"></script>
<!-- endbuild -->