//-------------------//
//   COLORS          //
//-------------------//

$white: #fff;
$grey: #aaa;
$black: #333;
$dark-blue: #394165;
$light-blue: #698cdd;
$light-grey: #cbcbcb;

$default-link-color: $light-blue;
$default-link-hover-color: $dark-blue;

$selection-bg: lighten($light-blue, 30%);


//-------------------//
//   TYPOGRAPHY      //
//-------------------//

$fw-light: 100;
$fw-normal: 300;
$fw-bold: bold;

$secondary-fw-light: 100;
$secondary-fw-normal: 300;
$secondary-fw-bold: 600;

$default-font-stack: "Iowan Old Style", serif;
$secondary-font-stack: "Kies een font man", sans-serif;

$default-font-size: 16px;
$default-line-height: 1.5em;

// Flaticon codes:
$flaticon-alert: "\e000";
$flaticon-email: "\e001";
$flaticon-pin: "\e002";
$flaticon-telephone: "\e003";


//-------------------//
//   GRID SETUP      //
//-------------------//

$default-page-width: 940px;

// Syntax: $bp:     break at, snap to, grid, cols amount   // mediums
// $mobile:            320px, 100%, 3, 3;                     // smartphones, iPhone, portrait 480x320 phones
// $tablet:            641px, 640px, 6, 6;                    // portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones
// $laptop:            $default-page-width, 940px, 12, 12;    // tablet, landscape iPad, lo-res laptops ands desktops
// $hi-res:            1281px, 1280px, 12, 12;                // hi-res laptops and desktops

// // $desktop:           1025px, 1024px;                     // big landscape tablets, laptops, and desktops
// // $e-reader:          481px, 100%;                        // portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide.

// // add orientation for tablets and phones, pixel density for hi-res small screens etc.

// $breakpoints: $mobile,
//               $tablet,
//               $laptop,
//               $hi-res;

$limited-width-elements: '.grid';


//-------------------//
//   MISCELLANEOUS   //
//-------------------//

$speed-slow: .7s;
$speed-medium: .3s;
$speed-fast: .15s;
$speed-forms: $speed-medium;

$ease-in: ease-in;
$ease-out: ease-out;
$ease-in-out: cubic-bezier(.56, .12, .33, .91);

$base-border-radius: 4px;
$form-border-radius: $base-border-radius;
$checkbox-border-radius: 20%;

$show-shortcut-tips: true;


//-------------------//
//   FONT AWESOME    //
//-------------------//

// $fa-font-path: "../font-awesome";