---
layout: default
title: Portfolio
---
{% raw %}
  <section class="soundcloud-player-wrapper sidebar">
    <h1>Muziek</h1>
    <div plangular="http://soundcloud.com/studioscholten/tracks" ng-controller="fadeInWhenDone" class="tracks">
      <div class="now-playing">
        <img ng-controller="trackArtwork" ng-src="{{artwork(track.artwork_url || track.user.avatar_url)}}" alt="{{track.title}}">
        <a ng-href="{{track.permalink_url}}" target="_blank"><h3>{{track.title}}</h3></a>
        <div class="controls">
          <span ng-click="previous()" class="previous"></span>
          <span ng-click="playPause(index)" ng-class="{'playing': player.playing, 'paused': !player.playing}" title="Play/pauze" class="play-pause"></span>
          <span ng-click="next()" class="next"></span>
          <progress class="progress" ng-click="seek($event)" ng-value="currentTime/duration || 0">{{ currentTime / duration || 0 }}</progress>
        </div>
      </div>

      <article ng-repeat="track in tracks" on-last-repeat class="track">
        <span ng-click="playPause($index)" ng-class="{'playing': player.playing === track.src, 'paused': player.playing !== track.src}" title="Play/pauze" class="play-pause track-info"><h3>{{track.title}}</h3></span>
      </article>
    </div>
  </section>
{% endraw %}

<section class="clients sidebar">
  <h2>Klanten</h2>
  {% for client in site.clients %}
  {% if client.target %}
  <a href="{{ client.target }}" target="_blank" class="no-fade"><span class="tag tag-big tag-hover">{{ client.title }}</span></a>
  {% else %}
  <span class="tag tag-big"><span class="no-word-spacing">{{ client.title }}</span></span>
  {% endif %}
  {% endfor %}
</section>