---
layout: default
title: Portfolio
---

<section class="soundcloud-player-wrapper sidebar">
  <h1>Muziek</h1>
  <div plangular="{{ site.soundcloudurl }}" ng-controller="fadeInWhenDone" class="tracks">
    {% include nowplaying.html %}

    {% raw %}
    <article ng-repeat="track in tracks" on-last-repeat class="track">
      <span ng-click="playPause($index)" ng-class="{'playing': player.playing === track.src, 'paused': player.playing !== track.src}" title="Play/pauze" class="play-pause track-info"><h3>{{track.title}}</h3></span>
    </article>
    {% endraw %}
  </div>
</section>

<section class="clients sidebar">
  <h2>Klanten</h2>
  {% for client in site.clients %}
  {% if client.target %}
  <a href="{{ client.target }}" target="_blank" class="no-fade"><span class="tag tag-big tag-hover">{{ client.title }}</span></a>
  {% else %}
  <span class="tag tag-big"><span class="no-word-spacing">{{ client.title }}</span></span>
  {% endif %}
  {% endfor %}
</section>