.sidebar:not(.projects) {
  ul {
    list-style: none;
    padding-left: $list-item-padding + $list-item-padding-correction;
    margin-left: -$list-item-padding;

    & > li {
      &:before {
        content: '';
        margin-left: -$list-item-padding;
        line-height: 0;
        width: $list-item-padding;
        height: $list-item-padding;
        display: inline-block;
        background: $dark-blue;
        background-clip: content-box;
        padding: ($list-item-padding * 0.75/2) ($list-item-padding * 0.75) ($list-item-padding * 0.75/2) 0;
        vertical-align: middle;
        transform: translateY(-2px);
      }
    }

    ul {
      padding-left: $list-item-padding;
      margin-left: 0;
    }
  }

  ol {
    list-style: none;
    counter-reset: olli;
    padding-left: $list-item-padding-correction;

    & > li {
      &:before {
        content: counter(olli) '.';
        counter-increment: olli;
        margin-left: -$list-item-padding-correction;
        line-height: 0;
        width: 1.5em;
        display: inline-block;
      }
    }
  }
}