@mixin font-squirrel-font($family, $prefix, $filename, $svg-target, $weight, $style) {
  @font-face {
    font-family: "#{$family}";
    src: url("#{$prefix}#{$filename}.eot");
    src: url("#{$prefix}#{$filename}.eot?#iefix") format("embedded-opentype"),
         url("#{$prefix}#{$filename}.woff") format("woff"),
         url("#{$prefix}#{$filename}.ttf") format("truetype"),
         url("#{$prefix}#{$filename}.otf") format("opentype"),
         url("#{$prefix}#{$filename}.svg##{$svg-target}") format("svg");
    font-weight: #{$weight};
    font-style: #{$style};
    font-stretch: normal;
    unicode-range: U+0020-25CA;
  }
}

@include font-squirrel-font("IOSBT", "../fonts/webfonts/", "IowanOldStyleBT-Roman_gdi", "IowanOldStyleBT-Roman", "400", "normal");
@include font-squirrel-font("IOSBT", "../fonts/webfonts/", "IowanOldStyleBT-Bold_gdi", "IowanOldStyleBT-Bold", "700", "normal");
@include font-squirrel-font("IOSBT", "../fonts/webfonts/", "IowanOldStyleBT-BoldItalic_gdi", "IowanOldStyleBT-BoldItalic", "700", "italic");
@include font-squirrel-font("IOSBT", "../fonts/webfonts/", "IowanOldStyleBT-Italic_gdi", "IowanOldStyleBT-Italic", "400", "italic");

$flaticon-prefix: "../fonts/icons/";
@font-face {
  font-family: "Flaticon";
  src: url("#{$flaticon-prefix}flaticon.eot");
  src: url("#{$flaticon-prefix}flaticon.eot#iefix") format("embedded-opentype"),
  url("#{$flaticon-prefix}flaticon.woff") format("woff"),
  url("#{$flaticon-prefix}flaticon.ttf") format("truetype"),
  url("#{$flaticon-prefix}flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: $default-font-stack;
  font-weight: $fw-normal;
  font-size: 18px;
  line-height: 30px;
  color: $black;
}

h1 {
  font-size: 48px;
  line-height: 50px;
  color: $dark-blue;
  
  &:not(.sidebar-title) {
    @include line($inline-block: true);
  }
}

h2 {
  font-size: 32px;
  line-height: 36px;
  color: $dark-blue;
}

h3 {
  font-size: 24px;
  line-height: 43px;
  color: $dark-blue;

  &:not(.sidebar-title) + p {
    margin-top: -24px;
  }
}

blockquote {
  margin: 2em 0;
  border-radius: $base-border-radius;
  background-color: lighten($light-blue, 30%);
  border: 1px solid lighten($light-blue, 10%);
  padding: 40px;
  width: 100%;

  p {
    font-style: italic;
    color: $dark-blue;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
    padding: 0 !important;

    &:before {
      content: "“";
      display: inline;
    }

    &:after {
      content: "”";
      display: inline;
    }
  }
}

p {
  & + ul,
  & + ol {
    margin-top: -$default-font-size;
  }
}

// Flaticon
[class^="flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:before,
[class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}

.flaticon-alert9:before { content: $flaticon-alert; }
.flaticon-email5:before { content: $flaticon-email; }
.flaticon-pin56:before { content: $flaticon-pin; }
.flaticon-telephone5:before { content: $flaticon-telephone; }

@mixin flaticon($icon, $pseudo: 'after', $font-size: 20px) {
  &:#{$pseudo} {
    content: $icon;
    font-family: 'Flaticon', 'sans-serif';
    font-size: #{$font-size};
    font-style: normal;
  }
}

a {
  text-decoration: none;

  &, &[target=_blank]:after {
    transition: color $speed-fast $ease-out;
  }

  &:link,
  &:visited,
  &[target=_blank]:after {
    color: $light-blue;
  }

  &:hover,
  &:focus {
    &, &[target=_blank]:after {
      color: $dark-blue;
    }
  }

  &[target=_blank]:after {
    content: " #{$flaticon-external}";
    display: inline;
    font-family: 'Flaticon';
    font-size: 65%;
    font-style: normal;
    position: relative;
    top: -.5em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
