body {
  font-family: $default-font-stack;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: $black;
}

h1 {
  font-size: 48px;
  line-height: 50px;
  color: $dark-blue;
  @include line;
}

h2 {
  font-size: 32px;
  line-height: 36px;
  color: $dark-blue;
}

h3 {
  font-size: 24px;
  line-height: 43px;
  color: $dark-blue;

  &:not(.sidebar-title) + p {
    margin-top: -24px;
  }
}

blockquote {
  margin: 0;
  border-radius: $base-border-radius;
  background-color: lighten($light-blue, 30%);
  border: 1px solid lighten($light-blue, 10%);
  padding: 20px;
  width: 100%;

  p {
    font-style: italic;
    color: $dark-blue;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    text-align: center;

    &:before {
      content: "“";
      display: inline;
    }

    &:after {
      content: "”";
      display: inline;
    }
  }
}

p {
  & + ul,
  & + ol {
    margin-top: -$default-font-size;
  }
}

@font-face {
  font-family: "customicons";
  src: url(../fonts/customicons.eot);
  src: url(../fonts/customicons.eot?#iefix) format("embedded-opentype"),
       url(../fonts/customicons.woff) format("woff"),
       url(../fonts/customicons.ttf) format("truetype"),
       url(../fonts/customicons.svg#customicons) format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "customicons";
    src: url(../fonts/customicons.svg#customicons) format("svg");
    font-weight: normal;
    font-style: normal;
  }
}

a {
  text-decoration: none;

  &, &[target=_blank]:after {
    transition: color $speed-fast $ease-out;
  }

  &:link,
  &:visited,
  &[target=_blank]:after {
    color: $light-blue;
  }

  &:hover,
  &:focus {
    &, &[target=_blank]:after {
      color: $dark-blue;
    }
  }

  &[target=_blank]:after {
    @include customicon("f");
  }
}

// flaticon
$flaticon-prefix: '../fonts/flaticon/';
@font-face {
  font-family: "Flaticon";
  src: url("#{$flaticon-prefix}flaticon.eot");
  src: url("#{$flaticon-prefix}flaticon.eot#iefix") format("embedded-opentype"),
  url("#{$flaticon-prefix}flaticon.woff") format("woff"),
  url("#{$flaticon-prefix}flaticon.ttf") format("truetype"),
  url("#{$flaticon-prefix}flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:before,
[class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}

.flaticon-alert9:before { content: $flaticon-alert; }
.flaticon-email5:before { content: $flaticon-email; }
.flaticon-pin56:before { content: $flaticon-pin; }
.flaticon-telephone5:before { content: $flaticon-telephone; }

@mixin flaticon($icon, $pseudo: 'after', $font-size: 20px) {
  &:#{$pseudo} {
    content: $icon;
    font-family: 'Flaticon';
    font-size: #{$font-size};
    font-style: normal;
  }
}
