body {
  font-family: $default-font-stack;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: $black;
}

h1 {
  font-size: 48px;
  line-height: 50px;
  color: $dark-blue;
  @include line;
}

h2 {
  font-size: 32px;
  line-height: 36px;
  color: $dark-blue;
}

h3 {
  font-size: 24px;
  line-height: 43px;
  color: $dark-blue;

  & + p {
    margin-top: -24px;
  }
}

blockquote {
  margin: 1.8em 3em;
  
  p {
    font-style: italic;
    color: $grey;
    font-size: 24px;
    line-height: 32px;

    &:before {
      content: "“";
      display: inline;
    }

    &:after {
      content: "”";
      display: inline;
    }
  }
}

p {
  & + ul {
    margin-top: -$default-font-size;
  }
}

@font-face {
  font-family: "customicons";
  src: url(../fonts/customicons.eot);
  src: url(../fonts/customicons.eot?#iefix) format("embedded-opentype"),
       url(../fonts/customicons.woff) format("woff"),
       url(../fonts/customicons.ttf) format("truetype"),
       url(../fonts/customicons.svg#customicons) format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "customicons";
    src: url(../fonts/customicons.svg#customicons) format("svg");
    font-weight: normal;
    font-style: normal;
  }
}

a {
  text-decoration: none;

  &, &[target=_blank]:after {
    transition: color $speed-fast $ease-out;
  }

  &:link,
  &:visited,
  &[target=_blank]:after {
    color: $light-blue;
  }

  &:hover,
  &:focus {
    &, &[target=_blank]:after {
      color: $dark-blue;
    }
  }

  &[target=_blank]:after {
    @include customicon("f");
  }
}